/* *{
    outline:1px solid red;
} */

/* COLORS FOR WEBPAGE */
:root {
    --primary-color: #000;
    --secondary: #fff;
    --orange: #FF8A56;
    --gray: #666;
    --pastel-red: #FF5E69;
    --purple: #B16CEA;
    --blue: #3C46FF;
    --yellow-orange: #FFA84B;
    --footer-color: #8A95AD;
}

/* COLORS FOR WEBPAGE */

@import url(/assets/css/reset.css);

/* FONT STARTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* FONT ENDS */


/* HEADER AND NAVIGATION BAR STARTS */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-left: 7.03rem;
    padding-right: 7.03rem;
}

header nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    padding-right: 2.5rem;
}

header>nav>a>img {
    padding-left: 0.5rem;
}

header nav a:hover {
    color: var(--orange);
    transition: ease 0.2s;
}

.fa-bars {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 950px) {
    header {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    header>nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
/* RESPONSIVE */

/* HEADER AND NAVIGATION BAR ENDS */



/* INTRODUCTION SECTION STARTS */

.introduction {
    padding-left: 7.03rem;
    padding-right: 7.03rem;
    display: flex;
    flex-wrap: wrap;
}

.intro-leftside {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-top: 7.3rem;
    min-width: 715px;
}

.intro-leftside>h1 {
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.intro-leftside>h1>span {
    color: var(--yellow-orange);

}

.intro-leftside p {
    font-size: 1.38rem;
    font-weight: 300;
    color: var(--gray);
    padding-top: 2rem;
    margin: 0;
}

.bookacall {
    padding-top: 2.5rem;
}

.bookacall>button {
    font-size: 1.12rem;
    font-weight: 400;
    color: var(--secondary);
    background-color: var(--primary-color);
    padding: 19px 30px;

}

.bookacall>a {
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 2.5rem;
}

.bookacall>a>img {
    padding-left: 1.5rem;
}

.intro-rightside {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 4.38rem;
    min-width: 395px;
}

@media(max-width:1365px) and (min-width:768px) {
    .intro-leftside {
        flex-basis: 100%;
        align-items: center;
    }

    .introduction {
        padding-left: 0;
        padding-right: 0;

    }

    .intro-rightside {
        justify-content: center;
    }
}

@media (max-width:768px) {
    .introduction {
        padding-left: 0;
        padding-right: 0;
    }

    .intro-leftside {
        min-width: 400px;
        text-align: center;
    }

    body {
        overflow-x: hidden;
    }
}

/* INTRODUCTION SECTION ENDS */


/* TRUSTED BY SECTION STARTS */

.trusted-by-section h6 {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    padding-top: 7rem;
    margin: 0;

}

.trusted-by-companies {
    display: flex;
    justify-content: space-around;
    padding-top: 2.8rem;
    padding-left: 18rem;
    padding-right: 18rem;
}

.trusted-by-company:hover {
    transform: scale(1.1);
    transition: ease .15s;

}

@media (max-width:768px) and (min-width:576px) {
    .trusted-by-company:nth-child(odd) {
        display: none;
    }
}

@media (max-width:575px) {
    .trusted-by-company:not(:first-child) {
        display: none;
    }
}

/* TRUSTED BY SECTION ENDS */


/* SERVICES SECTION STARTS */

.services-section h6 {
    text-align: center;
    font-size: 1.38rem;
    font-weight: 700;
    color: var(--pastel-red);
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-top: 9.8rem;
    margin: 0;
}

.services-section h1 {
    text-align: center;
    font-size: 3.38rem;
    font-weight: 700;
    padding-top: 1.25rem;
    margin: 0;
}

.services {
    display: flex;
    justify-content: space-between;
    padding-top: 7.3rem;
    padding-left: 12.25rem;
    padding-right: 12.25rem;
    flex-wrap: nowrap;

}

.service {
min-width:247px;
}

.service h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.service p {
    padding-top: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin: 0;
}

.service ul {
    padding-top: 1.25rem;
    padding-left: 1rem;
    list-style: square;
    font-weight: 700;
    margin: 0;
}

.service ul li {
    padding-top: 2rem;
}