/* COLORS FOR WEBPAGE */
:root {
    --primary-color: #000;
    --secondary: #fff;
    --orange: #FF8A56;
    --gray: #666;
    --pastel-red: #FF5E69;
    --purple: #B16CEA;
    --blue: #3C46FF;
    --yellow-orange: #FFA84B;
    --footer-color: #8A95AD;
}

/* COLORS FOR WEBPAGE */

* {
    outline: 1px solid red;
}

@import url(/assets/css/reset.css);


/* FONT STARTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* FONT ENDS */



/* HEADER AND NAVIGATION BAR STARTS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.6rem;
    padding-left: 7.03rem;
    padding-right: 7.03rem;
}

header nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
}

.fa-bars {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 950px) {
    header {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    header>nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

/* RESPONSIVE */

/* HEADER AND NAVIGATION BAR ENDS */



/* INTRODUCTION SECTION STARTS */

.introduction {
    padding-left: 7.03rem;
    padding-right: 7.03rem;
    display: flex;
    flex-wrap: wrap;
}

.intro-leftside {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-top: 7.3rem;
    min-width: 715px;
}

.intro-leftside>h1 {
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.intro-leftside>h1>span {
    color: var(--yellow-orange);

}

.intro-leftside p {
    font-size: 1.38rem;
    font-weight: 400;
    color: var(--gray);
}

.intro-rightside {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 4.38rem;
    min-width: 500px;
}

@media(max-width:1365px) and (min-width:768px) {
    .intro-leftside {
        flex-basis: 100%;
        align-items: center;
    }
}

.introduction {
    padding-left: 0;
    padding-right: 0;

}

.intro-rightside {
    justify-content: center;
}

@media (max-width:768px) {
    .introduction {
        padding-left: 0;
        padding-right: 0;
    }

    .intro-leftside {
        min-width: 400px;
        text-align: center;
    }

    body {
        overflow-x: hidden;
    }
}